
<table class="table">
  <thead class="table-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Marca</th>
      <th scope="col">Línea</th>
      <th scope="col">Modelo</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let vehicle of vehicles">
      <td>{{ vehicle.id }}</td>
      <td>{{ vehicle.marca }}</td>
      <td>{{ vehicle.linea }}</td>
      <td>{{ vehicle.modelo }}</td>
    </tr>
  </tbody>
</table>
<div class="total">
  <div *ngFor="let marca of marcas">
    <label>Total {{marca}}: </label> {{valores[marca]}}
    <br>
  </div>
</div>




