<div class="container-fluid">
  <div class="row">
    <table class='table table-striped'>
      <thead>
        <tr>
          <th>#</th>
          <th>Marca</th>
          <th>Línea</th>
          <th>Modelo</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let vehicle of vehicles">
          <td>{{ vehicle.id }}</td>
          <td>{{ vehicle.marca }}</td>
          <td>{{ vehicle.linea }}</td>
          <td>{{ vehicle.modelo }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
